
/* ****************** 1칸 레이아웃  ****************** */

.layout_381375_ {clear:both; min-width:320px; max-width:1000px; margin:0 auto;}
.layout_381375_ > div:after {content:''; display:block; clear:both;}
.layout_381375_ > div > [class^=container_] {float:left; position:relative; width:100%; box-sizing:border-box;}

@media \0screen{
	.layout_381375_ {min-width:1000px;}
}

/* ****************** 이미지  ****************** */

.img_381381_ {display:inline-block; overflow:hidden; position:relative; width:px; max-width:100%; vertical-align:top;}
.img_381381_ * {box-sizing:border-box;}
.img_381381_ a {display:block; text-decoration:none;}
.img_381381_ img {max-width:100%; vertical-align:top;}

/* ****************** 타이틀 텍스트  ****************** */

.title_381376_ {font-size:0;}
.title_381376_ p {
	display:inline-block; position:relative; margin:0; padding:0;
	font-size:24px; letter-spacing:-1px; font-weight:bold; color:#000000; line-height:1.4em;
}
.title_381376_ p:before {content:''; position:absolute; background:#e66d1e; font-size:0;}

.title_381376_.style_top p {padding-top:10px;}
.title_381376_.style_top p:before {left:0; top:0; width:24px; height:4px;}

.title_381376_.style_right p {padding-right:14px;}
.title_381376_.style_right p:before {right:0; top:5px; width:4px; height:24px;}

.title_381376_.style_bottom p {padding-bottom:12px;}
.title_381376_.style_bottom p:before {left:0; bottom:0; width:24px; height:4px;}

.title_381376_.style_left p {padding-left:14px;}
.title_381376_.style_left p:before {left:0; top:5px; width:4px; height:24px;}

.title_381376_.style_circle1 p {padding-left:20px;}
.title_381376_.style_circle1 p:before {
	left:0; top:11px; width:12px; height:12px;
	border-radius:12px;
}

.title_381376_.style_circle2 p {padding-left:20px;}
.title_381376_.style_circle2 p:before {
	left:0; top:11px; width:12px; height:12px;
	border:2px solid #e66d1e; border-radius:12px; background:none; box-sizing:border-box;
}

/* ****************** 장문 텍스트  ****************** */

.textarea_381382_ p {
	display:block; margin:0; padding:0;
	font-size:16px; letter-spacing:0px; font-weight:normal; color:#000000; line-height:1.6em;
}

/* ****************** 타이틀 텍스트  ****************** */

.title_381378_ {font-size:0;}
.title_381378_ p {
	display:inline-block; position:relative; margin:0; padding:0;
	font-size:24px; letter-spacing:-1px; font-weight:bold; color:#000000; line-height:1.4em;
}
.title_381378_ p:before {content:''; position:absolute; background:#e66d1e; font-size:0;}

.title_381378_.style_top p {padding-top:10px;}
.title_381378_.style_top p:before {left:0; top:0; width:24px; height:4px;}

.title_381378_.style_right p {padding-right:14px;}
.title_381378_.style_right p:before {right:0; top:5px; width:4px; height:24px;}

.title_381378_.style_bottom p {padding-bottom:12px;}
.title_381378_.style_bottom p:before {left:0; bottom:0; width:24px; height:4px;}

.title_381378_.style_left p {padding-left:14px;}
.title_381378_.style_left p:before {left:0; top:5px; width:4px; height:24px;}

.title_381378_.style_circle1 p {padding-left:20px;}
.title_381378_.style_circle1 p:before {
	left:0; top:11px; width:12px; height:12px;
	border-radius:12px;
}

.title_381378_.style_circle2 p {padding-left:20px;}
.title_381378_.style_circle2 p:before {
	left:0; top:11px; width:12px; height:12px;
	border:2px solid #e66d1e; border-radius:12px; background:none; box-sizing:border-box;
}

/* ****************** 장문 텍스트  ****************** */

.textarea_381379_ p {
	display:block; margin:0; padding:0;
	font-size:16px; letter-spacing:0px; font-weight:normal; color:#000000; line-height:1.6em;
}

/* ****************** 타이틀 텍스트  ****************** */

.title_381386_ {font-size:0;}
.title_381386_ p {
	display:inline-block; position:relative; margin:0; padding:0;
	font-size:24px; letter-spacing:-1px; font-weight:bold; color:#000000; line-height:1.4em;
}
.title_381386_ p:before {content:''; position:absolute; background:#e66d1e; font-size:0;}

.title_381386_.style_top p {padding-top:10px;}
.title_381386_.style_top p:before {left:0; top:0; width:24px; height:4px;}

.title_381386_.style_right p {padding-right:14px;}
.title_381386_.style_right p:before {right:0; top:5px; width:4px; height:24px;}

.title_381386_.style_bottom p {padding-bottom:12px;}
.title_381386_.style_bottom p:before {left:0; bottom:0; width:24px; height:4px;}

.title_381386_.style_left p {padding-left:14px;}
.title_381386_.style_left p:before {left:0; top:5px; width:4px; height:24px;}

.title_381386_.style_circle1 p {padding-left:20px;}
.title_381386_.style_circle1 p:before {
	left:0; top:11px; width:12px; height:12px;
	border-radius:12px;
}

.title_381386_.style_circle2 p {padding-left:20px;}
.title_381386_.style_circle2 p:before {
	left:0; top:11px; width:12px; height:12px;
	border:2px solid #e66d1e; border-radius:12px; background:none; box-sizing:border-box;
}

/* ****************** 장문 텍스트  ****************** */

.textarea_381387_ p {
	display:block; margin:0; padding:0;
	font-size:16px; letter-spacing:0px; font-weight:normal; color:#000000; line-height:1.6em;
}

/* ****************** 타이틀 텍스트  ****************** */

.title_381384_ {font-size:0;}
.title_381384_ p {
	display:inline-block; position:relative; margin:0; padding:0;
	font-size:20px; letter-spacing:-1px; font-weight:bold; color:#e66d1e; line-height:1.4em;
}
.title_381384_ p:before {content:''; position:absolute; background:#e66d1e; font-size:0;}

.title_381384_.style_top p {padding-top:10px;}
.title_381384_.style_top p:before {left:0; top:0; width:20px; height:4px;}

.title_381384_.style_right p {padding-right:14px;}
.title_381384_.style_right p:before {right:0; top:4px; width:4px; height:20px;}

.title_381384_.style_bottom p {padding-bottom:12px;}
.title_381384_.style_bottom p:before {left:0; bottom:0; width:20px; height:4px;}

.title_381384_.style_left p {padding-left:14px;}
.title_381384_.style_left p:before {left:0; top:4px; width:4px; height:20px;}

.title_381384_.style_circle1 p {padding-left:20px;}
.title_381384_.style_circle1 p:before {
	left:0; top:8px; width:12px; height:12px;
	border-radius:12px;
}

.title_381384_.style_circle2 p {padding-left:20px;}
.title_381384_.style_circle2 p:before {
	left:0; top:8px; width:12px; height:12px;
	border:2px solid #e66d1e; border-radius:12px; background:none; box-sizing:border-box;
}

/* ****************** 번호형 리스트  ****************** */

.text_list_381389_ ul {display:table; margin:0; padding:0; list-style:none;}
.text_list_381389_ li {display:table-row; font-size:16px; line-height:1.5em;}
.text_list_381389_ span {display:table-cell; padding:5px; font-weight:normal; font-family:NanumGothic; color:#e66d1e; vertical-align:top;}
.text_list_381389_ p {display:table-cell; padding:5px; letter-spacing:-1px; font-weight:normal; color:#000000; vertical-align:middle;}
.text_list_381389_ i {
	display:inline-block; width:1em; height:1em; line-height:1em; padding:.2em;
	border:1px solid #e66d1e; border-radius:1em; box-sizing:borer-box;
	font-size:.8em; font-style:normal; text-align:center;
}

	.text_list_381389_ span {padding-right:.5em; font-size:1em;}

/* ****************** 타이틀 텍스트  ****************** */

.title_381383_ {font-size:0;}
.title_381383_ p {
	display:inline-block; position:relative; margin:0; padding:0;
	font-size:24px; letter-spacing:-1px; font-weight:bold; color:#000000; line-height:1.4em;
}
.title_381383_ p:before {content:''; position:absolute; background:#e66d1e; font-size:0;}

.title_381383_.style_top p {padding-top:10px;}
.title_381383_.style_top p:before {left:0; top:0; width:24px; height:4px;}

.title_381383_.style_right p {padding-right:14px;}
.title_381383_.style_right p:before {right:0; top:5px; width:4px; height:24px;}

.title_381383_.style_bottom p {padding-bottom:12px;}
.title_381383_.style_bottom p:before {left:0; bottom:0; width:24px; height:4px;}

.title_381383_.style_left p {padding-left:14px;}
.title_381383_.style_left p:before {left:0; top:5px; width:4px; height:24px;}

.title_381383_.style_circle1 p {padding-left:20px;}
.title_381383_.style_circle1 p:before {
	left:0; top:11px; width:12px; height:12px;
	border-radius:12px;
}

.title_381383_.style_circle2 p {padding-left:20px;}
.title_381383_.style_circle2 p:before {
	left:0; top:11px; width:12px; height:12px;
	border:2px solid #e66d1e; border-radius:12px; background:none; box-sizing:border-box;
}

/* ****************** 아이콘 버튼  ****************** */

@font-face {
	font-family: 'icomoon_15051801';
	src:url('../../aramfarm/design/icomoon_15051801/icomoon.eot');
	src:url('../../aramfarm/design/icomoon_15051801/icomoon%EF%B9%96.eot#iefix') format('embedded-opentype'),
		url('../../aramfarm/design/icomoon_15051801/icomoon.woff') format('woff'),
		url('../../aramfarm/design/icomoon_15051801/icomoon.ttf') format('truetype'),
		url('../../aramfarm/design/icomoon_15051801/icomoon.svg#icomoon_15051801') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon_button_381390_ a  {
	display:inline-block; margin:0; padding:0;
	border:1px solid #e66d1e; border-radius:4px; background:#e66d1e; box-sizing:border-box;
	font-size:16px; font-weight:bold; color:#fff; text-align:center; text-decoration:none;
}
.icon_button_381390_.style_line a {background:transparent; color:#e66d1e;}
.icon_button_381390_.space_normal a {padding:.6em 1.2em;}
.icon_button_381390_.space_wide a {padding:.6em 2em;}
.icon_button_381390_.space_full a {display:block; width:100%; padding:.6em 1.2em;}

.icon_button_381390_ a:before {
	content:'\e616'; font-family:"icomoon_15051801";
	margin-right:10px; font-size:1em; font-weight:normal; color:;
}
