
/* ****************** 이미지  ****************** */

.img_381313_ {display:inline-block; overflow:hidden; position:relative; width:px; max-width:100%; vertical-align:top;}
.img_381313_ * {box-sizing:border-box;}
.img_381313_ a {display:block; text-decoration:none;}
.img_381313_ img {max-width:100%; vertical-align:top;}
