
/* ****************** 이미지  ****************** */

.img_381558_ {display:inline-block; overflow:hidden; position:relative; width:px; max-width:100%; vertical-align:top;}
.img_381558_ * {box-sizing:border-box;}
.img_381558_ a {display:block; text-decoration:none;}
.img_381558_ img {max-width:100%; vertical-align:top;}
